<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>News Scraper</h1>
        <p>New York Times Edition</p>
    </div>
</div>

Hello, index!